<h1>Admin::Base#index</h1>


<% if can? :manage, User %>
  admin information
  
<p>email:<%= @user %></p>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Sign in count</th>
      <th>Sign in at</th>
      <th>Sign in IP</th>
      <th>Role</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td><%= user.role %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% elsif can? :read, User  %>
  <h2>not authoriezd page</h2>

<% else %>

  <h2>not authoriezd page</h2>
<% end %>
